#header {
    background-color: $grey;

    #site-header__inner {
        width: 100%;
        background: transparent;

        .container {
            #block-react-ecommerce-theme-site-branding {
                background: transparent;
            }
        }
    }

    .site-header__inner__container {
        background-color: $grey;

        #block-react-ecommerce-theme-main-menu {
            display: flex;
            align-items: end;

            & .menu {
                display: flex;
                flex-direction: row;
                list-style-type: none;

                & li {
                    margin-right: 20px;

                    & a {
                        text-decoration: none;
                        color: $darker-blue;
                        font-weight: bold;
                    }
                }
            }
        }
    }
}